<div class="container">
    <label class="label label-info">
        Showing 2 journies&nbsp;
    </label>
    <div>
        <h4><a href="#">Dhaka to Sylhet</a></h4>
        <h6>
            Available seats
            <span class="label label-success">30</span> &nbsp;|&nbsp;
            GreenLine Volvo 48 Seater<br />
        </h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae consectetur ante. Aliquam hendrerit libero eros, sed condimentum ligula egestas et. Nam lacus neque, ornare.
        </p>
    </div>
    <br />
    <div>
        <h4><a href="#">Dhaka to Chittagong</a></h4>
        <h6>
            Available seats
            <span class="label label-success">40</span> &nbsp;|&nbsp;
            GreenLine Volvo 48 Seater<br />
        </h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae consectetur ante. Aliquam hendrerit libero eros, sed condimentum ligula egestas et. Nam lacus neque, ornare.
        </p>
    </div>
    <br />
</div>
