@{
    ViewBag.Title = "Bus Journeys";
}
<h2>
    <img src="/images/bus.png" class="pull-left" />&nbsp;
    @ViewBag.Title
</h2>
<hr />
<div class="container">
    <div class="col-md-3">
        @Html.Action("Search")
    </div>
    <div class="col-md-9">
        @Html.Action("Result")
    </div>
</div>