
@{
    ViewBag.Title = "Order Confirm";
}

<h2>Thank you @HttpContext.Current.User.Identity.Name, you have just bought some bus tickets :)</h2>
<hr/>
<a href="/" class="btn btn-primary btn-lg">Back to home</a>

